.container{
    margin: 40 0 40 0;
    border-color: #333333;
    border: 3px solid gray;
    padding: 2rem;
    background-color: aliceblue;
}

.title{
    font-family: Darker Grotesque;
    font-weight: 600;
    font-size: 40px;
    padding: 40 0 40 0;
    text-align: center;
}