.container{
    display: flex;
    margin-bottom: 3rem;
    justify-content: center;
}

.title{
    font-family: Darker Grotesque;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    padding: 3rem;
}

.main_box {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 540px;
}

.decorative_frame {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #2C5680;
  border: 4px solid gray;
  width: 480px;
  height: 320px;
}

.image{
    position: absolute;
    top: 24; 
    left: 32;
    object-fit: cover;
    z-index: 10;
    max-height: 320px;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-right: 4rem;
}

.adopt{
    color: white;
    background: #7AAC3A;
    font-family: Darker Grotesque;
    font-weight: 700;
    font-size: 22px;
    padding: 15 50 15 50;
    cursor: pointer;
}

.delete{
    color: white;
    background: #DE5959;
    font-family: Darker Grotesque;
    font-weight: 700;
    font-size: 22px;
    padding: 15 50 15 50;
    cursor: pointer;
}

.text_box{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 35rem;
}

.description{
    font-family: Darker Grotesque;
    font-weight: 400;
    font-size: 22px;
}