.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.name_age_box{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.name_text_box{
    display: flex;
    flex-direction: column;
    font-family: Darker Grotesque;
    font-weight: 500;
    width: 80%;
}

.age_text_box{
    display: flex;
    flex-direction: column;
    font-family: Darker Grotesque;
    font-weight: 500;
    width: 15%;
}

.text_box{
    display: flex;
    flex-direction: column;
    font-family: Darker Grotesque;
    font-weight: 500;
    width: 100%;
}

.label{
    font-family: Darker Grotesque;
    font-weight: 500;
    font-size: 25px;
    padding: 0.75rem;
}

.input{
    height: 38px;
    padding: 7px;
    font-size: 24px;
    background: #E6E6E6;
    border: 1px solid #333333;
    resize: none;
}

.button{
    color: white;
    background-color: #2C5680;
    font-family: Darker Grotesque;
    font-weight: 600;
    font-size: 36px;
    margin-top: 2rem;
    padding: 5 50 5 50;
    width: fit-content;
    height: fit-content;
}